.business-offers-list {
  @include list-reset();

  margin: 0 25px 36px 25px;
}

.business-offers-list__item {
  padding: 10px 0;

  border-top: 1px solid rgba(0, 0, 0, 0.05);

  &:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
}

.business-offers-list__title {
  margin: 0;

  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: $brown-gray;
}

.business-offers-list__price {
  display: block;
}

@media (min-width: $tablet-width) {
  .business-offers-list {
    margin: 0 90px 36px 90px;
  }

  .business-offers-list__item {
    padding: 20px 0 15px 0;
  }

  .business-offers-list__title {
    display: flex;
    justify-content: space-between;

    font-size: 22px;
    line-height: 1.27;
  }

  .business-offers-list__price {
    display: inline;
  }
}

@media (min-width: $desktop-width) {
  .business-offers-list {
    margin: 0 60px 50px 60px;
  }
}
