.catalog-profiles-list {
  @include list-reset;
}

.catalog-profiles-list__item {
  position: relative;

  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: $pure-white;
  padding: 15px 20px 20px 20px;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 25px;
  }

  &:hover {
    box-shadow: 0 6px 21px 0 rgba(0, 0, 0, 0.08);
  }
}

.catalog-profiles-list__item:hover .catalog-profiles-list__image {
  transform: scale(1.05);
}

.catalog-profiles-list__main-info-wrapper {
  display: flex;
  margin-right: auto;
}

.catalog-profiles-list__image-wrapper {
  max-width: 70px;
  height: 70px;
  margin-right: 15px;
  border: 2px solid #e2e5f2;
  border-radius: 50%;
  overflow: hidden;
}

.catalog-profiles-list__image {
  max-width: 70px;
  height: 70px;
  margin-right: 15px;

  border-radius: 50%;
}

.catalog-profiles-list__info-wrapper {
  display: flex;
  flex-direction: column;
}

.catalog-profiles-list__like-add-wrapper {
  display: flex;
  align-items: center;
  margin-left: -40px;
}

.catalog-profiles-list__like {
  @include hide-text;
  position: relative;

  display: block;
  margin-right: 10px;
  margin-top: -3px;
  width: 31px;
  height: 31px;

  border-radius: 50%;
  background-color: $middle-white;

  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 13px;
    height: 11px;
    margin-left: -6.5px;
    margin-top: -5.5px;

    background-image: url("../../img/heart.svg");
    background-repeat: no-repeat;

    opacity: 0.3;
  }

  &--liked {
    background-color: $pale-red;

    &::before {
      background-image: url("../../img/heart-active.svg");
      opacity: 1;
    }
  }

  &:hover,
  &:focus {
    background-color: $pale-grey-three;
  }

  &--liked:hover,
  &--liked:focus {
    background-color: $like-red;
  }
}

.catalog-profiles-list__like:hover::before,
.catalog-profiles-list__like:focus::before {
  opacity: 1;
}

.catalog-profiles-list__like:active::before {
  opacity: 0.1;
}

.catalog-profiles-list__like--liked:active::before {
  opacity: 0.3;
}

.catalog-profiles-list__likes {
  display: inline-block;
  vertical-align: middle;

  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: $dark-purple-blue;
  text-transform: uppercase;
}

.catalog-profiles-list__name {
  position: relative;

  display: inline-block;
  vertical-align: middle;
  width: 80px;

  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $middle-dark-blue;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &::after {
    @include hide-text;
    content: "";
    position: absolute;
    top: 8px;
    right: -62px;

    width: 6px;
    height: 6px;

    border-radius: 50%;
  }

  &--offline::after {
    background-color: $offline;
  }

  &--online::after {
    background-color: $online;
  }
}

.catalog-profiles-list__wish-countries-header,
.catalog-profiles-list__transport-header,
.catalog-profiles-list__level-header {
  position: relative;
  z-index: 1;

  margin: 0;

  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: $brown-gray;
  text-transform: lowercase;
}

.catalog-profiles-list__level-header-text,
.catalog-profiles-list__transport-header-text,
.catalog-profiles-list__wish-countries-header-text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 6px;

  background-color: $pure-white;
}

.catalog-profiles-list__wish-countries-header::before,
.catalog-profiles-list__transport-header::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 40%;
  z-index: -1;

  width: 270px;
  height: 1px;

  background-color: $middle-white;
}

.catalog-profiles-list__transport-level-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}

.catalog-profiles-list__transport-header {
  margin-bottom: 15px;
}

.catalog-profiles-list__level-header {
  margin-bottom: 6px;

  text-align: center;

  & + div {
    padding: 6px 0 0 8px;
  }

  & + div svg {
    left: -1px;
  }
}

.catalog-profiles-list__btn {
  position: absolute;
  bottom: 20px;
  left: 20px;

  width: auto;
  padding: 7px 80px 3px 80px;

  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.76;
  letter-spacing: normal;
  color: $dark-purple-blue;
  text-transform: uppercase;

  border-radius: 20px;
  background-color: $yellow;
}

@media (min-width: $tablet-width) {
  .catalog-profiles-list__item {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 35px 25px 20px 35px;
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 50px;
    }
  }

  .catalog-profiles-list__image-wrapper {
    max-width: 190px;
    height: 190px;
    margin-right: 30px;

    border-radius: 20px;
  }

  .catalog-profiles-list__image {
    max-width: 190px;
    height: 190px;
    margin-right: 30px;

    border-radius: 20px;
  }

  .catalog-profiles-list__info-wrapper {
    width: 270px;
    margin-top: -3px;
    margin-left: 5px;
  }

  .catalog-profiles-list__name {
    order: 1;

    width: fit-content;
    margin-bottom: 17px;

    font-size: 30px;

    &::after {
      top: 11px;
      left: -23px;
    }
  }

  .catalog-profiles-list__like-add-wrapper {
    order: 3;

    margin-left: -3px;
  }

  .catalog-profiles-list__btn {
    position: static;

    padding: 13px 10px 3px 10px;
    width: 150px;
    height: 50px;

    font-size: 20px;
    line-height: 1.5;
    text-align: center;

    border-radius: 40px;
  }

  .catalog-profiles-list__like {
    width: 50px;
    height: 50px;
    margin-right: 6px;

    &::before {
      width: 20px;
      height: 17px;
      margin-top: -8.5px;
      margin-left: -10px;
    }
  }

  .catalog-profiles-list__transport-header,
  .catalog-profiles-list__level-header {
    @include hide-text();

    &::before {
      display: none;
    }
  }

  .catalog-profiles-list__transport-header {
    margin-bottom: 0;
  }

  .catalog-profiles-list__likes {
    font-size: 20px;
  }

  .catalog-profiles-list__level-header {
    & + div {
      margin-top: -4px;
      margin-right: 0;
      padding: 0 2px 0 0;
    }

    & + div svg {
      left: 4px;
      top: -3px;
    }
  }

  .catalog-profiles-list__wish-countries-header {
    margin: 0 0 15px 45px;

    &::before {
      left: -80px;
      width: 688px;
    }
  }

  .catalog-profiles-list__countries-wrapper {
    order: 3;

    margin-top: 16px;
  }

  .catalog-profiles-list__transport-level-wrapper {
    order: 2;

    flex-direction: column;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .catalog-profiles-list__item {
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 0;
    margin-bottom: 30px;
    height: 285px;

    &:last-child {
      margin-bottom: 70px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 60px;
      left: 50%;

      width: 1px;
      height: 187px;

      background: linear-gradient(to bottom, rgba(237, 239, 246, 0) 0%, rgba(237, 239, 246, 1) 25%, rgba(237, 239, 246, 1) 65%, rgba(237, 239, 246, 0) 100%);
    }
  }

  .catalog-profiles-list__main-info-wrapper {
    height: 285px;
    margin-right: 0;
  }

  .catalog-profiles-list__image-wrapper {
    max-width: 285px;
    height: 100%;
    margin-right: 60px;

    border-radius: 20px 0 0 20px;
  }

  .catalog-profiles-list__image {
    max-width: 285px;
    height: 100%;
    margin-right: 60px;

    border-radius: 20px 0 0 20px;
  }

  .catalog-profiles-list__info-wrapper {
    justify-content: space-between;
    margin: 50px 35px 45px 0;
  }

  .catalog-profiles-list__wish-countries-header {
    @include hide-text();

    margin: 0;

    &::before {
      display: none;
    }
  }

  .catalog-profiles-list__countries-wrapper {
    margin: 0;
    width: 100%;
    padding-right: 16px;
  }

  .catalog-profiles-list__transport-level-wrapper {
    position: absolute;
    right: 15px;
    bottom: 40px;
    order: 3;

    flex-direction: row;
    margin-bottom: 0;
  }

  .catalog-profiles-list__transport-wrapper {
    display: flex;
    align-items: center;
  }

  .catalog-profiles-list__level-header + div {
    padding: 7px 2px 0 0;
  }

  .catalog-profiles-list__level-header + div svg {
    top: 0;
  }
}
