.companions {
  position: relative;
  z-index: 4;

  width: 100%;
  margin: -60px auto 0 auto;

  border-radius: 0 0 30px 30px;
  background-color: $dark-blue;
}

.companions__wrapper {
  position: relative;

  width: 320px;
  margin: 0 auto;
  padding: 0 25px 33px 25px;
}

.companions__header {
  position: relative;

  margin: 0;
  padding: 130px 0 0 25px;

  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: $orange;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 100px;
    left: -25px;

    width: 113px;
    height: 132px;

    background-color: $dark-bg-blue;
    border-radius: 0 20px 20px 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: 100px;
    right: 0;
    z-index: -1;

    width: 143px;
    height: 143px;

    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-size: 143px;
    }
  }
}

.companions__text {
  margin: 20px 30px 20px 25px;

  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: $pure-white;
}

.companions__tagline {
  position: relative;

  display: inline-block;
  vertical-align: middle;
  margin: 0 50px 58px 25px;

  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: $pure-white;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 70px;
    left: -50px;

    width: 61px;
    height: 71px;

    background-repeat: no-repeat;
    background-position: right;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-size: 61px 71px;
    }
  }
}

.companions__name-wrapper {
  position: relative;

  margin-bottom: 15px;

  &:hover,
  &:active {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.companions__name {
  margin: 5px 0 15px 0;

  font-size: 21px;
  font-weight: 700;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: $middle-dark-blue;
}

.companions__online-status {
  @include hide-text();

  position: absolute;
  top: 50%;
  left: -15px;

  margin-top: -5px;
  width: 5px;
  height: 5px;

  border-radius: 50%;

  &--online {
    background-color: $online;
  }

  &--offline {
    background-color: $offline;
  }
}

.companions__transport-list {
  @include list-reset;

  display: flex;
  align-items: center;
  margin: -5px 0 0 0;
}

@media (min-width: $tablet-width) {
  .companions {
    border-radius: 0 0 60px 60px;
  }

  .companions__wrapper {
    width: 768px;
    padding: 0 75px;
  }

  .companions__header {
    padding: 200px 0 0 0;

    font-size: 45px;

    &::before {
      top: 140px;
      left: -35px;

      width: 213px;
      height: 213px;

      border-radius: 20px;
    }

    &::after {
      top: 485px;
      left: -35px;
    }
  }

  .companions__text {
    margin: 60px 185px 40px 0;

    font-size: 28px;
    line-height: 1.18;
  }

  .companions__tagline {
    margin: 0 360px 55px 0;

    font-size: 21px;
    line-height: 1.19;

    &::before {
      top: -335px;
      left: 330px;

      width: 285px;
      height: 285px;


      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-size: 285px;
      }
    }
  }

  .companions__name-wrapper {
    margin-bottom: 20px;
    margin-top: 15px;
  }

  .companions__name {
    margin: 30px 0 25px 0;

    font-size: 24px;
  }

  .companions__btn {
    margin-bottom: 88px;
  }

  .companions__online-status {
    left: -20px;

    width: 7px;
    height: 7px;
  }
}

@media (min-width: $desktop-width) {
  .companions {
    border-radius: 0 0 60px 60px;
  }

  .companions__wrapper {
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 810px;
    padding: 10px 60px 0 125px;
  }

  .companions__header {
    padding: 180px 0 0 0;

    &::before {
      top: 120px;
      left: 65px;
    }

    &::after {
      top: 180px;
      left: 420px;
    }
  }

  .companions__text {
    width: 425px;
    margin: 55px 0 40px 5px;
  }

  .companions__tagline {
    width: 260px;
    margin: 0 0 85px 0;

    &::before {
      top: -20px;
      left: 60px;
    }
  }

  .companions__btn {
    width: 280px;
    margin-left: 5px;
  }

  .companions__transport-list {
    margin: 0 0 20px 10px;
  }
}
