.companions-catalog {
  position: relative;
  z-index: 0;

  width: 100%;
  margin: -40px auto 0 auto;

  background-color: $middle-white;
}

.companions-catalog__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 55px 25px 75px 25px;
}

.companions-catalog__btn {
  position: relative;

  padding: 0 0 0 35px;
  margin-bottom: 20px;
  margin-top: -3px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 60px;

    width: 18px;
    height: 18px;
    margin-top: -12px;

    background-image: url("../../img/show-more-plus.svg");
    background-repeat: no-repeat;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .companions-catalog {
    margin-top: -53px;
  }

  .companions-catalog__wrapper {
    width: 768px;
    padding: 100px 40px 120px 40px;
  }

  .companions-catalog__btn {
    margin-top: -5px;
    margin-bottom: 50px;

    &::before {
      left: 248px;

      width: 27px;
      height: 27px;
      margin-top: -15px;
    }
  }
}

@media (min-width: $desktop-width) {
  .companions-catalog__wrapper {
    position: relative;

    width: 1200px;
    padding: 130px 16px 140px 16px;
  }

  .companions-catalog__btn {
    margin-bottom: 70px;
    padding: 0;
    margin-left: -10px;

    &::before {
      left: 360px;

      margin-top: -15px;
      width: 27px;
      height: 27px;

      background-size: 27px;
    }
  }
}
