.feedback {
  position: relative;
  z-index: 2;

  width: 100%;
  margin: -40px auto 0 auto;

  background-color: $dark-blue;
  border-radius: 0 0 30px 30px;
}

.feedback__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 110px 25px 30px 25px;
}

.feedback__tagline {
  display: block;

  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $orange;
  text-align: center;
}

.feedback__text {
  margin: 20px auto 30px auto;
  width: 200px;

  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: $pure-white;
  text-align: center;

  &--bottom {
    margin: 30px 25px 15px 25px;
    width: auto;
  }

  &--bottom-hidden {
    display: none;
  }
}

.feedback__link-authorise {
  color: $yellow;
  border-bottom: 1px solid rgba(255, 215, 75, 0.3);

  &:hover,
  &:focus {
    color: $orange;
  }

  &:active {
    opacity: 0.3;
  }
}

.feedback__form {
  position: relative;
}

@media (min-width: $tablet-width) {
  .feedback {
    margin: -60px auto 0 auto;

    border-radius: 0 0 60px 60px;
  }

  .feedback__wrapper {
    width: 768px;
    padding: 135px 75px 60px 75px;
  }

  .feedback__tagline {
    font-size: 45px;
    line-height: normal;
  }

  .feedback__text {
    width: auto;
    margin: 55px 0 65px 0;

    font-size: 28px;
    line-height: 1.18;

    &--bottom {
      margin: 60px 0 38px 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .feedback {
    margin-top: -60px;

    border-radius: 0 0 60px 60px;
  }

  .feedback__wrapper {
    width: 1440px;
    margin: 0 auto;
    padding: 160px 130px 100px 130px;
  }

  .feedback__text {
    width: 610px;
    margin: 60px auto 55px auto;

    &--bottom {
      display: none;
    }

    &--bottom-hidden {
      display: block;
      width: auto;
      margin: 70px 0 45px 0;
    }
  }
}
