.footer-social-list {
  @include list-reset;

  display: flex;
  //width: 135px;
  margin: 40px auto 35px auto;
}

.footer-social-list__btn {
  @include hide-text;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;

  background-color: $yellow;
  border-radius: 50%;

  &:hover,
  &:focus {
    background-color: $orange;
  }

  &:active svg {
    opacity: 0.3;
  }
}

.footer-social-list__btn svg {
  fill: $middle-dark-blue;
}

@media (min-width: $tablet-width) {
  .footer-social-list {
    //width: 180px;
    margin: 0;
  }

  .footer-social-list__btn {
    width: 60px;
    height: 60px;
  }

  .footer-social-list__fb {
    width: 14px;
    height: 28px;
  }

  .footer-social-list__vk {
    width: 31px;
    height: 16px;
  }

  .footer-social-list__ig {
    width: 24px;
    height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .footer-social-list {
    margin: 0;
  }
}
