.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;

  display: none;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -135px;
  margin-top: -222.5px;
  padding: 30px 0 0 0;
  width: 270px;
  height: 443px;

  border-radius: 20px;
  box-shadow: 0 20px 50px 0 rgba(29, 46, 91, 0.1);
  background-color: $pure-white;

  &--show {
    display: flex;
  }
}

.modal__header {
  margin: 0 0 30px 0;

  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: $orange;
}

.modal__btn {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 60px;

  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: $middle-dark-blue;
  text-transform: uppercase;

  background-color: $pale-grey-light;
  border: none;
  border-radius: 0 0 20px 20px;

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $middle-white;
  }

  &:active {
    color: rgba(29, 46, 91, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .modal {
    margin-top: -273px;
    margin-left: -344px;
    padding: 50px 0 0 0;
    width: 688px;
    height: 526px;

    border-radius: 30px;
  }

  .modal__header {
    margin: 0 0 45px 0;

    font-size: 45px;
  }

  .modal__btn {
    height: 108px;

    font-size: 24px;
    line-height: normal;
    text-transform: none;

    border-radius: 0 0 30px 30px;
  }
}

@media (min-width: $desktop-width) {
  .modal {
    margin-left: -375px;
    width: 750px;
    height: auto;
  }
}
