.my-plans {
  position: relative;
  z-index: 1;

  width: 100%;
  border-radius: 30px 30px 0 0;
}

.my-plans__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 28px 25px 60px 25px;
}

.my-plans__header {
  margin: 0 0 28px 0;

  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: $middle-dark-blue;
}

@media (min-width: $tablet-width) {
  .my-plans {
  }

  .my-plans__wrapper {
    width: 768px;
    padding: 50px 75px 105px 75px;
  }

  .my-plans__header {
    margin: 0 0 40px 0;

    font-size: 36px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.39;
    letter-spacing: normal;
  }
}

@media (min-width: $desktop-width) {
  .my-plans {
  }

  .my-plans__wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 60px 16px 122px 16px;
  }

  .my-plans__header {
    margin: -9px 0 40px 8px;
  }
}
