.site-list {
  @include list-reset;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}

.site-list__link {
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: $dark-blue;
  text-transform: uppercase;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    align-items: flex-start;
    margin: 100px 0 150px 0;
  }

  .site-list__link {
    font-size: 60px;
    line-height: 1.18;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    flex-direction: row;
    align-items: center;
    max-height: 55px;
    margin: 0;
  }

  .site-list__item {
    overflow: hidden;
  }

  .site-list__item:not(:last-child) {
    margin-right: 35px;
  }

  .site-list__link {
    position: relative;

    display: block;

    font-size: 20px;
    line-height: normal;
    color: $pure-white;

    transition: transform 0.3s;

    &:hover,
    &:focus {
      transform: translateY(-100%);
      opacity: 1;
    }

    &:active {
      opacity: 0.3;
    }

    &::before {
      position: absolute;
      top: 100%;
      content: attr(data-hover);

      color: $yellow;

      transform: translate3d(0, 0, 0);
    }
  }
}
