.step {
  position: relative;

  padding: 23px 25px 19px 25px;
  margin-bottom: 10px;

  border-radius: 10px;
  background-color: $pure-white;

  &:last-child {
    margin-bottom: 0;
  }
}

.step__header {
  width: 140px;
  margin: 0 0 10px 0;

  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $middle-dark-blue;
}

.step__note {
  margin: 0 0 22px 0;

  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: $brown-gray;
}

.step__button {
  padding: 10px 20px 5px 20px;

  font-size: 17px;
  line-height: 1.76;
  text-transform: uppercase;
  text-align: center;

  border-radius: 30px;

  &::after {
    display: none;
  }
}

.step__button--back:hover,
.step__button--back:focus {
  opacity: 0.7;
}

.step__button--back:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .step {
    padding: 45px 45px 57px 45px;
    margin-bottom: 40px;

    border-radius: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .step__header {
    width: 250px;
    margin: 0 0 30px 0;

    font-size: 36px;
  }

  .step__note {
    padding-bottom: 35px;
    padding-right: 95px;

    font-size: 20px;
    line-height: 1.2;

    border-bottom: 1px solid $line-gray;

    &--two {
      margin: 0;
    }

    &--three {
      border: none;
      padding-right: 5px;
      margin-bottom: 28px;
    }
  }

  .step__button-wrapper {
    display: flex;
    flex-direction: column;
  }

  .step__button {
    order: 7;

    padding: 30px 0 0 35px;
    width: 285px;
    height: 80px;

    font-size: 24px;
    line-height: 1;
    text-transform: none;
    text-align: left;

    border-radius: 20px;

    &::after {
      display: block;
    }

    &--back::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -35px;

      width: 10px;
      height: 14px;
      margin-top: -7px;

      border-right: 10px solid $dark-blue;
      border-bottom: 7px solid transparent;
      border-top: 7px solid transparent;
    }

    &--no-bg {
      padding-left: 0;
      display: inline-block;
      vertical-align: middle;
      width: auto;
      margin-right: -5px;

      text-align: right;
    }
  }
}

@media (min-width: $tablet-width) {
  .step__button-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .step__button {
    &--no-bg {
      text-align: right;
    }

    &--submit {
      padding-top: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .step {
    position: relative;

    padding: 100px 160px 105px 160px;
    margin-bottom: 45px;

    border-radius: 60px;
  }

  .step__header {
    width: auto;
  }

  .step__note {
    padding-bottom: 53px;
    padding-right: 405px;
    margin-bottom: 53px;

    &--two {
      padding-right: 580px;
      margin-bottom: 0;
    }

    &--three {
      padding-right: 520px;
      margin-bottom: 75px;

      border-bottom: 1px solid $line-gray;
    }
  }

  .step__button {
    &--no-bg {
      margin-right: 0;
    }
  }

  .step__button-wrapper {
    &--route {
      width: 1000px;
      position: absolute;
      bottom: 105px;
    }
  }
}
