.transport-list {
  @include list-reset();

  display: flex;
  margin-bottom: 15px;
}

.transport-list li:first-child::before {
  left: -5%;
}

.transport-list li:hover {
  &::after {
    bottom: -8px;

    margin-left: -10px;
  }

  & span {
    bottom: -65px;
  }
}

@media (min-width: $tablet-width) {
  .transport-list {
    flex-direction: column;
    margin-top: -8px;
    margin-left: 10px;
  }

  .transport-list li {
    margin-bottom: -11px;
  }
}

@media (min-width: $desktop-width) {
  .transport-list {
    flex-direction: row;
    margin-top: 5px;
    margin-left: 0;
    margin-right: 50px;

    & li {
      width: 33px;
    }
  }
}
