$black: #000000;
$dark-blue: #192144;
$tooltip-blue: #101d41;
$dark-purple-blue: #1c3415;
$dark-bg-blue: #141b3b;
$deep-dark-blue: #121936;
$middle-dark-blue: #1d2e5b;
$introduction-blue: #182044;

$online: #1c3415;

$red: #ff0000;
$offline: #f97676;
$error-red: #f47e7e;
$like-red: #f9d8d8;
$pale-red: #f9eaea;
$light-red: #ffefef;

$red-orange: #ff5c23;
$dark-orange: #f26926;
$orange: #81e31e;
$light-orange: #ffa530;
$orange-yellow: #ffbd30;
$dark-yellow: #f3c72b;
$yellow: #ffd74b;
$map-bg: palegoldenrod;

$brown-gray: #444444;
$gray: #808285;
$light-gray: #cccccc;

$header-footer-color: #e2e5f2;
$middle-gradient: #f6f6f6;
$red-white: #f9eaea;
$light-pink-white: #dfe3f0;
$blue-white: #d4d9eb;
$line-gray: #d6d9e6;
$light-blue-white: #d6daed;
$light-gray-white: #cbced9;
$middle-white: #edeff6;
$pale-grey-three: #e2e5f2;
$pure-white: #ffffff;
$pale-grey-light: #f3f4f8;
$dark-gray-blue: #959bb2;
$middle-dark-gray-blue: #c8cee8;
$text-field-hover-outline: #aeb4cb;

$tablet-width: 768px;
$desktop-width: 1200px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
